[Desktop Entry]
Encoding=UTF-8
Name=Safecrex
Comment=Safecrex P2P Cryptocurrency
Comment[fr]=Safecrex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Safecrex, eşten eşe kriptografik sanal para birimi
Exec=safecrex-qt %u
Terminal=false
Type=Application
Icon=safecrex128
MimeType=x-scheme-handler/safecrex;
Categories=Office;Finance;
